apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlserver-deployment
  labels:
    app: ml-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ml-service
  template:
    metadata:
      labels:
        app: ml-service
    spec:
      containers:
        - name: ml-service-container
          image: your-registry/ml-service-image:1.0.0
          ports:
            - containerPort: 5001